* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
  }

  
  header {
    height: 200px;
    
  }
  .tarjetas{
    margin: 50px;
    text-align: center;
    font-weight: bolder;
    image-rendering: auto;
    height: 250px;
    width: auto;
    
  }

  .links{
    text-decoration: none;
    text-transform: uppercase;
    
  }
  
 
 
  

    